/* Fonts settings */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  background-color: #f7ae01;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #de9c01;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.section-header p {
  font-size: 1.4rem;
}
/* Оформление форм */
.form {
  /* Labels form */
  /* Button send request */
}
.form-input {
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.7rem;
  margin: 2rem 0rem;
  border-radius: 5px;
}
.form label {
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Sub-header */
  /* Green Lable */
  /* Оплата по факту */
  /* Main form */
}
.main-content {
  margin-top: 12rem;
  /* Main header */
}
.main-content h1 {
  margin-top: 0px;
  margin-bottom: 4rem;
  line-height: 1.45;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #48bd15;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: 3rem;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /* Main form header */
  /* Text under button */
}
.main-form-header {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900px;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* Оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
/* Секция с ценами */
.price {
  background: #48bd15 url(../img/prices/prices-bg.jpg) center;
  /* Карточки с тарифами */
}
.price-header-btn {
  margin-top: 1.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.17);
}
.price-block h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
  margin: 3rem 0;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/* Секция с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #48bd15;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  display: block;
  content: '';
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #48bd15;
  border-bottom: none;
  border-top-right-radius: 200px;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider p {
  font-size: 1.4rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #48bd15;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 25rem;
  max-width: 20%;
}
.feedback-form {
  background-color: #ffffff;
  padding: 4rem 10rem;
  margin-top: 5rem;
  text-align: center;
}
.feedback-form h3 {
  margin: 2rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-form label {
  position: absolute;
  top: 2rem;
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
/* Схема работы */
.scheme {
  background: #ffffff url(../img/scheme-bg.png) bottom -12rem right no-repeat;
  background-size: 45%;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block p {
  font-size: 1.3rem;
}
.scheme-block h3 {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* Все на 100% включено */
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
  font-size: 1.1rem;
}
.all-inclusive .media h4 {
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  margin-left: 1rem;
}
.section-header_active h2 {
  color: #48bd15;
}
.circle {
  display: inline-block;
  background-color: #48bd15;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  padding: 0.3rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid #48bd15;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  top: 10%;
  background-color: #ffffff;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.7rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .hand {
    display: none;
  }
  .scheme {
    background-size: 50rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .scheme {
    background-size: 55rem;
  }
}
@media (max-width: 767px) {
  .main-content {
    padding-top: 12rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 3rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
}
